<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.usercenter2.mapper.CourseScheduleMapper">

    <resultMap id="BaseResultMap" type="com.shu.usercenter2.domain.CourseSchedule">
            <id property="semester" column="semester" jdbcType="INTEGER"/>
            <id property="course_id" column="course_id" jdbcType="INTEGER"/>
            <id property="teacher_id" column="teacher_id" jdbcType="INTEGER"/>
            <result property="time" column="time" jdbcType="VARCHAR"/>
            <result property="capacity" column="capacity" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        semester,course_id,teacher_id,
        time,capacity
    </sql>
</mapper>
