<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.usercenter2.mapper.ScoreMapper">

    <resultMap id="BaseResultMap" type="com.shu.usercenter2.domain.Score">
            <id property="semester" column="semester" jdbcType="INTEGER"/>
            <id property="course_id" column="course_id" jdbcType="INTEGER"/>
            <id property="student_id" column="student_id" jdbcType="INTEGER"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
    </resultMap>

    <!-- Update score by ID -->
    <update id="updateScore">
        UPDATE score
        SET score = #{newScore}
        WHERE course_id = #{courseId}
          AND semester = #{semester}
          AND student_id = #{studentId}
    </update>

    <!-- Select single Score by courseId, semester, and studentId -->
    <select id="getScoreByConditions" resultMap="BaseResultMap">
        SELECT * FROM score
        WHERE course_id = #{courseId}
          AND semester = #{semester}
          AND student_id = #{studentId}
    </select>

    <sql id="Base_Column_List">
        semester,course_id,student_id,
        score
    </sql>
</mapper>
